$bg-color: #416165;
$btn-color: #0B3948;
$btn-color-hvr: #104f64;

.op-wrp {
    background-color: $bg-color;
    width: 100vw;
    height: 100vh;

    display: grid;
    grid-template-rows: 1fr 1fr;

    .header {
        color: white;
        text-align: center;
        margin-top: 20px;
    }

    .button-wrp {
        align-self: end;
        justify-self: center;

        button {
            background-color: $btn-color;
            color: white;
            border: 0;
            font-size: 30px;
            padding: 15px 50px;
            border-radius: 15px;
            margin-bottom: 40px;
        }

        button:hover {
            background-color: $btn-color-hvr;
        }
    }
}